header, nav, main, footer {
	max-width: 1028px;
	margin: 0 auto; /*centers everything on the page*/
}

header {
	position: relative;	/*needed so the contents can be displayed absolute*/
	padding-top: 2em;
	padding-bottom:1em;
}
		
nav {
	position: relative;	
	background-color: transparent;
	clear: right;
	padding-top: .6em;

	ul {
		
		float: right;
		width: auto;
	}
	
	/*main menu items float side by side*/
	ul li {
		float: left;
	}
	
	ul li a { 
		display:block;
		color: $menu-color;
		text-decoration: none;
		text-transform:uppercase;
		border-top:solid 2px rgba(0,0,0,0.1);
		font-size: .9em;
		padding: .7em .9em;
		
		/*transition*/
		transition: background 0.3s linear;
	}
	ul li a:hover {background-color: rgba(0,0,0,0.1)}
	ul li.active a {border-top: solid  3px $menu-color;}
} /* end nav */
	
.multicol {
	@include columns(3, $dkgrey);
}

	


